body{
  margin: 0;
  font:"Noto Sans"
}
a{
  color: #FFFFFF;
  text-decoration: none;
}

/* ヘッダー */
header div{
  color: #333333;
  font-size: 32px;
  margin-left: 80px;
  font-weight: bold;
}
header ul{
  display: flex;
  list-style: none;
  background-color: #333333;
  color: #FFFFFF;
  width: calc(100%-40px);
  height: 40px;
  margin: 0;
  padding-left: 40px;
}
header ul li{
  padding-left: 40px;
  line-height: 40px;
}

.flex{
  display: flex;
  margin:40px 80px 0 80px;
  gap: 2%;
}
.item{
  width: 100%;
  /* margin: 2%; */
}
.item img{
  width: 100%;
}
.title{
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.link{
  text-align: center;
  text-decoration:underline;
}

/* メイン記事 */
.flex2{
  display: flex;
  margin:40px 80px 0 80px;
  gap: 5%;
}
.blog{
  width: 65%;
}
.side{
  width: 30%;
  text-align: center;
}
.blog .item{
  margin-bottom: 40px;
}
.item-pro img{
  width: 50%;
  border-radius: 50%;
}
.blog .item .title{
  font-size: 16px;
}
.date{
  font-size: 8px;
  margin: 16px 0px 16px 16px;
  padding: 0;
}
.main{
  font-size: 12px;
  padding: 0 16px 0 16px;
}

/* さいど */
.name{
  font-weight: bold;
}
.profile{
  text-align: left;
  font-size: 8px;
}
.item-pro{
  margin-bottom: 80px;
}
.item h1{
  font-size: 16px;
}
.side .item p{
  font-size: 8px;
  text-align: left;
}

/* フッター */
footer{
display: flex;
background-color: #33333310;
padding:40px 80px 40px 80px;
gap: 4%;
}
h2{
  font-size: 16px;
}
footer .item{
  width: 100%;
}
footer .item p{
  font-size: 8px;
}
footer .item ul{
  list-style: none;
  margin-bottom: 0;
}
footer .item ul li{
  width: calc(100%-24px);
  height: 40px;
  line-height: 40px;
  padding-left: 24px;
  border: 1px solid;
  border-right: transparent;
  border-left: transparent;
  border-bottom: transparent;
}
.under{
  border: 1px solid;
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
}
.left p{
  margin-left: 24px;
}
.last{
  text-align: center;
  background-color: #33333310;
  font-size: 4px;
  padding-bottom: 16px;
}
.contact{
  width: 70%;
  margin: 80px auto;
  border: .5px solid;
  border-radius: 16px;
  padding-bottom: 40px;
}
h5{
  text-align: center;
  font-size: 24px;
  padding: 24px 0 24px 0;
  margin: 0;
  border: .5px solid;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
.contact p{
  margin-left: 5%;
}
.contacts span{
  background-color: orange;
  color: #FFFFFF;
  padding: 2px;
  margin-right: 4px;
}
form{
  width: 90%;
  padding-left: 5%;
}
.contacts{
  padding-top: 20px;
}
.sub{
  width: 100%;
  color: #FFFFFF;
  background-color: orange;
  border: none;
  height: 32px;
  margin-top: 20px;
}
.sub2r , .sub2g{
  width: calc(50% - 4px);
  padding: 0;
  color: #FFFFFF;
  background-color: orange;
  border: none;
  height: 32px;
  margin-top: 20px;
}
.subFlex{
  display: flex;
  /* width: 100%; */
  gap: 100px;
}
.sub2r{
  border: .5px solid;
  color: #333333;
  background-color: #FFFFFF;
}
.topGo{
  color: #333333;
  border: none;
  font-size: 24px;
  padding-left: 5%;
}

p.text{
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  overflow-wrap: break-word;
}
textarea{
  font-size: 16px;
  width: 100%;
}
input{
  width: 100%;
  height: 32px;
}
p.errs{
  margin: 0;
  padding: 0;
  color: red;
}
table{
  width: 90%;
  margin: 0 auto 40px;
}
.DB_a{
  color: blue;
  text-decoration: underline;
}
.td_a{
  text-align: center;
}
.textarea_hide{
  display: none;;
}
/* レスポンシブ */
@media all and (max-width:860px){
  .flex{
    display: block;
    margin:40px 20px 0 20px;
  }
  .flex2{
    display: block;
    margin:40px 20px 0 20px;
  }
  footer{
    display: block;
    padding:0;
    padding:40px 20px 40px 20px;
  }
  .blog{
    width: 100%;
  }
  .side{
    width: 100%;
  }
 header div{
  margin-left: 20px;
 } 
 .item-pro img{
  width: 20%;
 }
 header ul{
  padding-left: 10px;
}
header ul li{
  padding-left: 20px;

}
}